# Mac
.DS_Store

# Haskell
haskell/**/dist/
haskell/**/dist-newstyle/
haskell/**/cabal-dev/
haskell/**/*.o
haskell/**/*.hi
haskell/**/*.chi
haskell/**/*.chs.h
haskell/**/*.dyn_o
haskell/**/*.dyn_hi
haskell/**/.hpc
haskell/**/.hsenv
haskell/**/.cabal-sandbox/
haskell/**/cabal.sandbox.config
haskell/**/*.prof
haskell/**/*.aux
haskell/**/*.hp
haskell/**/.stack-work/

# PureScript
purescript/**/output/
purescript/**/.spago/
purescript/**/.psc-ide-port

# Rust
rust/**/target/
rust/**/Cargo.lock
rust/**/*.rs.bk
