# Mac
.DS_Store

# PureScript
output/
.spago/
.psc-ide-port

# Haskell (from http://git.io/vq6it)
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

